/* UBUC Database style-sheet
 * Edited by Sam Walder in 2020 to try and make it look a bit nicer
 */
 
/* Link styling */
a.brokenlink:link {color: red;}
a.damagedlink:link {color: orange;}
a.nigglelink:link {color: yellow;}
a.lostlink:link {color: grey;}
			   
/* Heading  and body styles */

h1 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 35px; font-weight: bold; text-decoration: underline;}

h2 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 30px; font-weight: bold; }

p, body { color: #333333; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px; }

/* Original Styling
h1 {color:blue;align:center;size=15;background-color:red}
h2 {color:blue;align:center;size=13;background-color:yellow} 
body { font:14pt/16pt}
*/

/* List styles */
li {align:left;	list-style: none}

/* I have no idea what this is */
step {font:bold}

/* Image styling */
img {
  max-width: 30%;
}
             
